<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <title>Cuisines</title>
    </head>
    <body>
        <div class="container">

            <div class="jumbotron">
                <h1>{{ cuisines.getType }}</h1>
            </div>
            <p><a href="/cuisines/{{ cuisines.getTypeId }}/edit">Edit cuisine</a></p>


            {% if restaurants is not empty %}
                <p>Here are the Restaurants:</p>
                <ul>
                    {% for place in restaurants %}
                        <li>{{ place.getName }}</li>
                            <ul>
                                <li>{{ place.getRating }}</li>
                                <li>{{ place.getReview }}</li>
                            </ul>
                    {% endfor %}
                </ul>

                <form action='/delete_restaurants' method='post'>
                    <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisines.getTypeId() }}">
                    <button type='submit'>Clear restaurants</button>
                </form>

            {% endif %}

            <h4>Add a restaurant</h4>
            <div class='col-md-3'>
                <form action='/restaurant_add' method='post' id="restaurant_add">
                    <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisines.getTypeId() }}">
                    <label for='name'>Restaurant Name</label>
                    <input id='name' name='name' type='text'>
                    <label for='rating'>Rate it</label>

                    <select name="rating" form="restaurant_add" class="form-control">
                      <option value="1">1 Star</option>
                      <option value="2">2 Star</option>
                      <option value="3">3 Star</option>
                      <option value="4">4 Star</option>
                      <option value="4">5 Star</option>
                    </select>


                    <label for='review'>Review it</label>
                    <textarea name='review' cols='25' rows='5' class="form-control">Enter your Review here</textarea>

                    <button type='submit'>Add restaurant</button>
                </form>


                <p><a href='/'>Home</a></p>
            </div>

        </div>
    </body>
</html>
